rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // WARNING: These rules are insecure! Use for testing only
      allow read, write: if request.auth != null;
    }
  }
}